@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    background-color: #3fa7f366;
    background-image: url(../imagens/Vale_Imobiliaria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.main_content_header{
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
    /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
    margin-top: 3rem;
    gap: 3rem;
    
}
.main_content_1_form{
    /* background-color: rgb(144, 82, 6); */
}
.main_content_1{
    padding-left: 3rem;
    /* grid-column: 0 / 4; */
    
}

.main_content_1_form{
    padding: 2rem;
    background-color: aliceblue;
    
    width: 500px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}
.main_content_1_form_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
.main_content_1_form_content_title{
    text-align: center;
    color: #0987e1;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.main_content_1_form_content_switch .teste{
    display: flex;
    /* gap: 1rem; */
    height: 5rem;
    width: 21rem;
    font-size: 2rem;
    background-color: #0987e13a;
    border-radius: 20px;
    /* padding: 1rem; */
    cursor: pointer;
}
.main_content_1_form_content_switch .teste span{
    padding: 1rem 2rem;
    border-radius: 20px;
    position: relative;
}
.main_content_1_form_content_switch  input{
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    left: 25px;
    outline: none;
}
.main_content_1_form_content_switch .teste .alu{
    background-color: #0987e1;
    color: white;
    transition: background-color .5s;
}
.main_content_1_form_content_switch input:checked + .teste .alu{
    background-color: transparent;
    color: black;
}
.main_content_1_form_content_switch input:checked + .teste .com{
    background-color: #0987e1;
    color: white;
}
.main_content_1_form_content_def{
    display: flex;
    flex-direction: column;
}
.main_content_1_form_content_def label{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;

}
.main_content_1_form_content_def input{
    border-color: rgba(0, 0, 0, 0.122);
    font-size: 2rem;
    outline: none;
}
.main_content_1_form_content_def select{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.379);
}
.btn_imoveis{
    border-radius: 50px;
    font-size: 2rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    color: white;
    background-color: #0987e1;
}
.btn_imoveis:hover{
    background-color: #025693;
}
.main_content_2{
    /* grid-column: 2 / 13; */
}
.main_content_2_title{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    /* margin-top: 3rem; */
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.453);
    color: white;
}
.main_content_2_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* background-color: rgba(127, 255, 212, 0.557); */
}
.main_content_2_cards_card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: calc(33% - 1rem);
    /* height: 325px; */
    background-color: aliceblue;
    border: 1px solid #0987e169;
    border-radius: 20px;
    overflow: hidden;
}
.main_content_2_cards_card_img{
    width: 100%;
}
.main_content_2_cards_card_img img{
    width: 100%;
    height: 180px;
}
.main_content_2_cards_card_description, .main_content_2_cards_card_itens, .main_content_2_cards_card_value{
    padding-left: 1rem;
    padding-top: .5rem;
}
.main_content_2_cards_card_description_rua{
    color: rgba(0, 0, 0, 0.668);
}
.main_content_2_cards_card_description_bairro_cidade{
    color: rgba(0, 0, 0, 0.455);
    font-size: 1.4rem;
}
.main_content_2_cards_card_itens{
    display: flex;
    justify-content: space-around;
}
.main_content_2_cards_card_itens i{
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    font-weight: 600;
}
.main_content_2_cards_card_value_price{
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-align: center;
    color: #025693;
}
.main_content_2_cards_card_value_price::before{
    content: "R$ ";

}
.main_content_2{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.main_content_3 img{
    /* width: 100%;
     */
    
    text-align: center;
}
.main_content_1{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* gap: 3rem; */
    position: relative;
}
