.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: aqua;
}
.menu_hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    & span{
        display: block;
        width: 100%;
        height: .3rem;
        background-color: #000;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
}

.nav_menu{
    position: absolute;
    top: 6rem;
    right: 0;
    background-color: blueviolet;
    width: 20rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    & .nav_menu_list{
        list-style: none;
        margin: none;
        padding: none;
    }
    & .nav_menu_list_item{
        border-bottom: 1px solid burlywood;
    }
    & .nav_menu_list_item_link{
        display: block;
        padding: 1.5rem;
        color: coral;
        text-decoration: none;
    }
    & .nav_menu_list_item_link:hover{
        background-color: yellowgreen;
    }
}
.nav_menu.active{
    transform: translateX(0);
    & span:nth-child(1){
        transform: rotate(45deg) translate(.5rem, .5rem);
    }
    & span:nth-child(2){
        opacity: 0;
    }
    & span:nth-child(3){
        transform: rotate(-45deg) translate(.5rem, -.5rem);
    }
}
