.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: aqua;
}
.menu_hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}